<div class="search__bar">
    <div class="search__bar__container container mx-auto">
        <div class="search__var__wrapper px-4 border has-[:focus]:border has-[:focus]:border-b-4 has-[:focus]:border-[#2557a7] duration-100 ease-linear rounded-lg">
            <div class="search__input flex items-center gap-2">
                <span class="text-2xl">
                    <i class='bx bx-search'></i>
                </span>
                <input class="h-14 w-full p-2 text-base focus:outline-none" type="text" placeholder="Job Title">
            </div>
        </div>
    </div>
</div>