<div class="job__offers">
    <div class="job__offers__container container mx-auto">
        <div class="job__offers__wrapper flex items-center gap-5 px-8">
            <div class="job__offers__cards space-x-2">
                <app-job-offer-card></app-job-offer-card>
                <app-job-offer-card></app-job-offer-card>
                <app-job-offer-card></app-job-offer-card>
                <app-job-offer-card></app-job-offer-card>
                <app-job-offer-card></app-job-offer-card>
            </div>
            <div class="job__offers__card__preview"></div>
        </div>
    </div>
</div>
